*.xcuserdatad
*.xcbkptlist
*.xcuserstate
*.out
*.out.dSYM
/testgles/testopengles/gen/
/testgles/NdkOpenGL/bin/
/testgles/NdkOpenGL/obj/
/testgles/san-angeles/obj/
/testgles/san-angeles/bin/
/testgles/samples/
