/testcpp/proj.ios/testcpp.xcworkspace/xcuserdata/weihua.xcuserdatad/UserInterfaceState.xcuserstate
/testcpp/proj.ios/testcpp.xcworkspace/xcuserdata/weihua.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/testgles/NateRobinTutors/tutors.xcodeproj/project.xcworkspace/xcuserdata/weihua.xcuserdatad/UserInterfaceState.xcuserstate
/testgles/NateRobinTutors/tutors.xcodeproj/project.xcworkspace/xcuserdata/
/testgles/testopengles/bin/
/testcpp/a.out
/testcpp/a.out.dSYM/
/testgles/testopengles/gen/
/testgles/NdkOpenGL/bin/
/testgles/NdkOpenGL/obj/
/testgles/san-angeles/obj/
/testgles/san-angeles/bin/
